


<div class="container-fluid">

	<h1>Brooklyn Museum's Luce Research Center</h1>
	<div class="row">
		<div class="col-lg-12">


			<div class="row">
				<div class="col-lg-12">
					{{#if advancedterm}}
						<h3>Term: 
							{{{advancedterm.accession}}}{{{advancedterm.maker}}}{{{advancedterm.manufacturer}}}{{{advancedterm.title}}}{{{advancedterm.date}}}{{{advancedterm.medium}}}{{{advancedterm.location}}}{{{advancedterm.title}}}{{{advancedterm.keywords}}}

						</h3>
					{{else if generalterm}}
						<h3>
							Term: {{{generalterm}}}
						</h3>
					{{else if location}}
						<h3>
							Location: Case {{{location}}}
						</h3>
					{{/if}}
				</div>
			</div>
			{{!-- Table of results --}}
			<div class="row">
				<div class="col-lg-12" >
					<div class="table-responsive" id="table">
						

						hihi

						<p>{{bar}}</p>

						hello
					{{#each searchTerm}}

						{{!-- {{#makeTable searchTerm}}
						kjkjkjkjj

						{{/makeTable}} --}}
{{!-- 
					{{#if @index % 4 ==0 }}
					hello @index
					{{/if}} --}}
					{{!-- {{@key}}hi{{@index}}
  					{{lookup ../foo @index}} --}}

					<div class="hidden">
						<div>
							{{{this.slug}}}
						</div>
						<div>
							{{{this.title}}}
						</div>
						<div>
							{{{this.maker}}}
						</div>
{{!-- 						<img class="img-responsive" src="data:image/jpeg;base64,{{{this.pic}}}">
 --}}					</div>
					{{/each}}




				</div>
			</div>
		</div>
	</div>

</div>

<script>

	//document.addEventListener('DOMContentLoaded', init);
	function init(){


		var hidden= document.getElementsByClassName('hidden');
		var searchNum = hidden.length;
		var table= document.getElementById('table');
		var arrayObj = [];
		for(var k=0;k<searchNum;k++){
			arrayObj.push(hidden[k]);
		}
		var rowNum = searchNum / 4;
		var lastRemainder=0;
		var lastRow =false;
		//5 4 --> 1.25
		if(searchNum % 4 !== 0){
			lastRemainder = searchNum% 4;
		}
		rowNum= Math.floor(rowNum)+1;

		for(var i=0;i<rowNum;i++){
			var row = document.createElement("div");
			row.setAttribute("class", "row");

			if(lastRemainder!=0 && i==rowNum-1){
				for(var m=0;m<lastRemainder;m++){

					var bigdiv = document.createElement("div");
					bigdiv.classList.add("col-lg-3");

					var currItem = arrayObj.shift();
					var img=currItem.lastChild.previousSibling;

					//title
					var slug =currItem.firstChild.nextSibling;
					var slugText = slug.innerHTML;
					//console.log(slugText);

					var title = slug.nextSibling.nextSibling;
					var titleText = slug.nextSibling.nextSibling.innerHTML;
					//console.log(titleText);
	
					var overlay = document.createElement("div");
					overlay.classList.add("view");
					overlay.classList.add("overlay");
					overlay.classList.add("hm-white-light");
					overlay.appendChild(img);

					var mask = document.createElement("div");
					mask.classList.add("mask");
					mask.classList.add("flex-center");
					var p = document.createElement("p");
					p.innerHTML = "Hello!!";
					p.classList.add("white-text");
					var link = document.createElement("a");
					var att= document.createAttribute("href");
					att.value = "/object/" + slugText.trim();
					link.setAttributeNode(att);
					///link.setAttribute("href, slugText");
					link.innerHTML = titleText;
					mask.appendChild(p);
					overlay.appendChild(mask);
					
					bigdiv.append(overlay);
					row.appendChild(bigdiv);
					table.append(row);

					// <div class="view overlay .hm-white-light">
	    // 				<img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid " alt="">
	    // 				<div class="mask flex-center">
	    //     				<p class="white-text">Strong overlay</p>
	    // 				</div>
					// </div>
				// row.appendChild();
				}


			}
			else{
				for(var j=0;j<4;j++){
					var bigdiv = document.createElement("div");
					bigdiv.classList.add("col-lg-3");


					var currItem = arrayObj.shift();
					var img=currItem.lastChild.previousSibling;

					//title
					var slug =currItem.firstChild.nextSibling;
					var slugText = slug.innerHTML;
					//console.log(slugText);

					var title = slug.nextSibling.nextSibling;
					var titleText = slug.nextSibling.nextSibling.innerHTML;
					//console.log(titleText);
	
					var overlay = document.createElement("div");
					overlay.classList.add("view");
					overlay.classList.add("overlay");
					overlay.classList.add("hm-white-light");
					overlay.appendChild(img);

					var mask = document.createElement("div");
					mask.classList.add("mask");
					mask.classList.add("flex-center");
					var link = document.createElement("a");
					var att= document.createAttribute("href");
					att.value = "/object/"+slugText;
					link.setAttributeNode(att);
					///link.setAttribute("href, slugText");
					link.innerHTML = titleText;
					mask.appendChild(link);
					overlay.appendChild(mask);
					
					bigdiv.append(overlay);
					row.appendChild(bigdiv);
				}
				
					


			}
			table.appendChild(row);
		
		}



		// for(var j=0;j<searchNum;j++){
		// 	var col = document.createElement("div");
		// 	col.setAttribute("class", "col-lg-3");
		// }
	}
</script>